/*  
Theme Name: Glassical
Original Theme URI: http://www.smashingthemes.com/free-wordpress-themes/glassical/
Drupal Theme URI: http://drupal.org/project/glassical
Description: Glassical Theme is designed by SmashingThemes.com and was released via SmashingMagazine.com. Please note the SmashingThemes.com and SmashingMagazine are not affiliated. Both are two different entities.
Version: 1.0
Original Author: Abdullah Ibrahim
Orignal Author URI: http://www.smashingthemes.com
Drupal Author: Jason Moore
Drupal Author URI: http://arborwebdevelopment.com
Tags: light, yellow, silver, blue, two-columns, fixed-width
*/

html, body
{
	background-color:#69D2E7;
	background-image:url(images/bg.jpg);
	background-repeat:repeat-y;
	background-position:center center;
	background-attachment:fixed;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:Arial, Tahoma, Verdana;
	font-size:12px;
	line-height: 1.5em;
	color:#666;
	text-align:center;
}

form {margin:0;padding:0;}

a
{
	/*color:#6CBDDE;*/
	color:#D14640;
	text-decoration:none;
}

a:hover
{
	/*text-decoration:underline;*/
}

a img
{
	border:none;
}

form
{
	padding:0;
	margin:0;
}

input, select, textarea
{
	font-family:Arial, Tahoma, Verdana;
}

h1, h2, h3
{
	padding:0;
	font-weight:bold;
	text-transform:uppercase;
}

h1
{
	font-size:28px;
	color:#FA6900;
	margin:0 0 20px 0;
}

h1 a { color:#FA6900; }

h2
{
	font-size:23px;
	color:#D14640;
	margin:0 0 20px 0;
}

h3
{
	font-size:15px;
	color:#69D2E7;
	margin:0;
}

h2 a { color:#D14640; }
h3 a { color:#69D2E7; }



/* ////////////////////// Layout ////////////////////// */
#pagewidth
{
	width:980px;
	text-align:left;
	margin:0 auto;
	padding:30px 0;
	position:relative;
}

#header
{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	position:relative;
	background:url(images/header.png) bottom left no-repeat;
}

#content
{
	clear:both;
	float:left;
	width:960px;
	padding:30px 10px 0 10px;
	position:relative;
	background:url(images/content.jpg) top left repeat-y;
}

#content #left
{
	display:inline;
	width:540px;
	float:left;
	margin:0 30px 0 30px;
}

#content #right
{
	position:relative;
	display:inline;
	width:300px;
	float:right;
	margin:0 30px 0 30px;
}
#sidebar .content {
  padding: 10px;
  padding-left: 0;
}

#sidebar .block ul {
  padding-left: 0;
}

#sidebar .block ul.menu li {
  margin: 0;
}

#footer
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	background:url(images/footer.png) top left no-repeat;
	color:#fff;
	padding-top:20px;
}
/* ////////////////////// Layout ////////////////////// */



/* ////////////////////// Header, Footer and Top Navigation ////////////////////// */
#header .logo
{
	/* width:280px; Jason Removed */
	float:left;
	/* margin-bottom:30px; Jason Removed */
}

#header .logo a {
	float:left;
	/* background:url(images/logo.png) top left no-repeat; Jason Removed */
	/* width:201px; Jason Removed */ 
	/* height:63px; Jason Removed */
	/*margin-bottom:30px;*/
	
}
#header .logo h1 a {
  padding-left: 10px; /* Jason Added */
}

#header .ad
{
	float:right;
}

#navigation
{
	position:relative;
	clear:both;
	float:left;
	width:960px;
	margin:0 0 10px 0;
	padding:10px 10px 0 10px;
	background:url(images/navigation.png) top left;
	list-style:none;
	
	/*position:absolute;
	bottom:10px;
	right:0px;*/
}

#navigation li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width:auto;
}

#navigation li ul
{
	z-index:10;
	position:absolute;
	top:31px;
	left:-9999px;
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	background:url(images/navigation_sub.png) top left;
}

#navigation li:hover ul
{
	left:0px;
}

#navigation li ul li, #navigation li ul li ul li
{
	float:left;
	width:200px;
	position: relative;
}

#navigation li a
{
	display: block;
	float:left;
	padding:8px 10px;
	font-weight:bold;
	text-transform:uppercase;
	color:#666;
}

#navigation li ul li a
{
	width:170px;
	margin:5px;
}

#navigation li ul li a:hover
{
	background:url(images/navigation.png) top left;
}

#navigation li ul li:hover
{
	background:none;
}

#navigation li:hover, #navigation li.current_page_item, #navigation li.current_page_ancestor
{
	background:url(images/navigation.png) top left;
}

#navigation li ul li ul, #navigation li:hover ul li ul
{
	top:0px;
	left:-9999px;
}

#navigation li ul li:hover ul
{
	left:200px;
}

#navigation li.rss
{
	float:right;
}

.rss {
  background: url(images/rss.png) no-repeat;
}
/* ////////////////////// Header, Footer and Top Navigation ////////////////////// */



/* ////////////////////// Main Content ////////////////////// */
.heading
{
	padding-bottom:5px;
	margin-bottom:30px;
	border-bottom:1px solid #E0E4CC;
}

.post
{
	clear:both;
	float:left;
	width:100%;
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:1px solid #E0E4CC;
}


.post h2, .post h2 a
{
	color:#69D2E7;
}

.post h1, .post h2
{
	clear:left;
	margin-bottom:15px;
	/* float:left; Jason changed */
	
	width:auto  !important;
	width:500px;
	max-width:500px;
}

.post .comment_count
{
	float:right;
	width:29px;
	height:27px;
	background:url(images/comment.png) top right no-repeat;
	padding:5px 0 0 0;
	text-align:center;
	font-weight:bold;
	margin:0 0 15px 0;
	line-height:15px;
}

.post .comment_count a
{
	color:#666;
	float:left;
	width:100%;
}

.post .meta
{
	clear:left;
	float:left;
	margin:0;
	/*font-size:11px;
	margin-bottom:20px;*/
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:0;
	margin-bottom:5px;
	color:#aaa;
}

.post .meta a
{
	color:#999;
}

.post .postinfo
{
	float:left;
	clear:both;
	margin-top:10px;
	margin-bottom:20px;
	padding:20px;
	width:500px;
	background:#EEEEEE;
}

.post .postinfo h2
{
	color:#666;
	margin-bottom:10px;
}

.post .postinfo ul
{
	float:left;
	list-style:none;
	margin:0 0 -5px 0;
	padding:0;
	width:50%;
}

.post .postinfo ul li
{
	clear:both;
	margin:0 0 5px 0;
}

.post .postinfo ul.post-categories li
{
	margin-bottom:0;
	padding:5px 0 5px 27px;
	background:url(images/folder.png) center left no-repeat;
}

.post .postinfo ul.post-categories li a
{
	font-weight:bold;
}

.post .postinfo ul.tags li
{
	float:left;
	clear:none;
	margin-right:5px;
}

.post .postinfo ul.tags li a
{
	color:#fff;
	background-color:#D14640;
	padding:1px 3px;
	text-transform:uppercase;
	font-size:10px;
}

.post .postinfo ul.tags li a:hover
{
	background-color:#FA6900;
	text-decoration:none;
}

.post .postinfo ul.post-categories, .post .postinfo ul.tags li.first
{
	clear:left;
}

.post .node_read_more a
{
	clear:both;
	color:#fff;
	float:right;
	padding:5px 8px;
	margin-top:15px;
	margin-bottom:20px;
	font-size:10px;
	text-transform:uppercase;
	background:#F38630 url(images/more-link.jpg) 113px 6px no-repeat;
	width:115px;
	line-height:12px;
}

.post .body
{
	clear:both;
}

.post .body h1, .post .body h2, .post .body h3
{
	float:none;
	margin:0 0 10px 0;
}

.post .body p, .post .body ul, .post .body ol, .post .body blockquote, .post .body img
{
	margin:0 0 20px 0;
}

.post .body p, .post .body img
{
	padding:0;
}

.post .body img
{
	max-width:540px;
}

.post img.postimg
{
	width:100%;
	margin:0;
}

blockquote
{
	margin-left:20px;
	margin-right:20px;
	padding:40px 30px 10px 30px;
	border:1px dotted #fff;
	background:#FFF5CA url(images/quote.png) 10px 10px no-repeat;
	text-align:justify;
}

.post .body blockquote p
{
	/*margin:0;*/
}

.post .body a
{
	font-weight:bold;
}

.post .body img.alignright {float:right;margin:0 0 10px 10px}
.post .body img.alignleft {float:left;margin:0 10px 10px 0}
.post .body img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.post .body a img.alignright {float:right; }
.post .body a img.alignleft {float:left;}
.post .body a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.small
{
	width:255px;
	float:left;
	clear:none;
	margin-right:30px;
	border:none;
}

.small .sbody
{
	clear:both;
}

.small h2
{
	font-size:20px;
}

.small img.postimg
{
	margin-bottom:0;
}

.even
{
	margin-right:0;
}
/* ////////////////////// Main Content ////////////////////// */



/* ////////////////////// Paging ////////////////////// */
.paging
{
	clear:both;
	float:left;
	width:100%;
}

.paging .prev
{
	float:left;
	width:50%;
}

.paging .next
{
	float:right;
	text-align:right;
	width:50%;
}

.paging div a
{
	float:left;
	font-weight:bold;
	padding:7px 10px;
	margin-bottom:30px;
	color:#fff;
	background-color:#D14640;
}

.paging div a:hover
{
	text-decoration:underline;
}

.paging .prev a
{
	float:left;
}

.paging .next a
{
	float:right;
}

/*
.paging
{
	clear:both;
	float:left;
	width:600px;
	background:#F5F8E6;
	margin:0 -30px;
}

.paging .prev
{
	float:left;
	width:50%;
}

.paging .next
{
	float:right;
	text-align:right;
	width:50%;
}

.paging div a
{
	float:left;
	font-weight:bold;
	padding:5px;
	margin:10px 10px;
}

.paging .prev a
{
	float:left;
}

.paging .next a
{
	float:right;
}
*/
/* ////////////////////// Paging ////////////////////// */



/* ////////////////////// Side Bar ////////////////////// */
#sidebar
{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}

#sidebar h2
{
	color:#D14640;
	text-align:left;
	margin-bottom:10px;
}

#sidebar li.widget, #sidebar .block
{
	clear:both;
	float:left;
	width:100%;
	margin:0 0 30px 0;
	padding:0;
}

#sidebar li ul
{
	clear:both;
	float:left;
	width:100%;
	margin:0 0 -10px 0;
	padding:0;
	list-style:none;
	width:100%;
}

#sidebar li ul li
{
	clear:both;
	float:left;
	width:100%;
	margin:0 0 10px 0;
	color:#666;
	text-align:right;
	font-weight:bold;
	font-size:13px;
}

#sidebar li ul li a
{
	color:#666;
	float:left;
}

#sidebar li ul li ul.children
{
	width:100%;
	margin:7px 0 0 0;
	padding:0;
}

#sidebar li ul li ul.children li
{
	padding:3px 0;
	margin:0 0 0 0;
	font-size:12px;
	font-weight:normal;
	background:url(images/child.jpg) center left no-repeat;
}

#sidebar li ul li ul.children li a
{
	font-weight:normal;
	/*text-transform:uppercase;*/
	color:#666;
	margin-left:20px;
}

#sidebar .search_widget
{
	float:left;
	margin:-30px -30px 60px;
	padding:20px 20px;
	width:320px;
	height:35px;
	background:url(images/search_bg.jpg) bottom left no-repeat;
}

#sidebar .search_widget #s, #sidebar .search_widget #edit-search-theme-form-1
{
	float:left;
	background:url(images/search.jpg) top left no-repeat;
	width:270px;
	height:25px;
	padding:0;
	border:none;
	padding: 10px 0 0 10px;
}

#sidebar .search_widget #sb, #sidebar .search_widget #edit-submit
{
	float:left;
	background:url(images/search_button.jpg) top left no-repeat;
	width:40px;
	height:35px;
	padding:0;
	border:none;
	cursor:pointer;
	text-indent: -9999px;
}
#edit-search-theme-form-1-wrapper label {
  display: none;
}

#creditsfix
{
	clear:both;
	float:left;
	width:100%;
	height:52px;
}

#credits
{
	float:left;
	position:absolute;
	right:30px;
	bottom:0px;
	width:320px;
	height:47px;
	padding:0;
	margin:0 0 5px 0;
	float:left;
	list-style:none;
}

#credits li
{
	clear:both;
	float:left;
	width:100%;
	margin:0 0 5px 0;
	padding:0;
}

#credits li a
{
	float:right;
	color:#666;
	font-size:10px;
	text-transform:uppercase;
}

#credits li img
{
	vertical-align:middle;
	margin-right:5px;
}
/* ////////////////////// Side Bar ////////////////////// */



/* ////////////////////// Comments ////////////////////// */
#comments
{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0px;
	background:#fff;
}

#comments a
{
	/*color:#666;*/
}

#comments p.notice
{
	margin:0 0 30px 0;
	padding:0px;
	text-align:center;
	font-weight:bold;
}

#comments .commentlist
{
	clear:both;
	list-style:none;
	margin:0 0 30px 0;
	padding:0;
}

#comments .commentlist li
{
	clear:both;
	padding:0px;
	margin:0 0 20px 0;
}

#comments .commentlist li div.comment-body
{
	padding:20px;
	background:#F5F8E6;
	background:#F8FAEF;
	background:#F7F7F7;
	background:#F5F8E6;
	border:1px solid #E0E4CC;
}

#comments .commentlist li.pingback div.comment-body, #comments .commentlist li.trackback div.comment-body
{
	background:#F7F7F7;
	border:none;
}

#comments .commentlist li div.comment-author .avatar
{
	padding:0;
	margin:0 10px 0 0;
	float:left;
	width:50px;
	height:50px;
	border:5px solid #E0E4CC;
}

#comments .commentlist li div.comment-author cite
{
	font-style:normal;
	font-weight:bold;
	font-size:14px;
	color:#D14640;
	text-transform:uppercase;
}

#comments .commentlist li div.comment-author .says
{
	margin-left:3px;
	display:none;
}

#comments .commentlist li div.comment-meta
{
	margin-bottom:10px;
	font-size:10px;
	text-transform:uppercase;
}

#comments .commentlist li div.comment-meta a
{
	text-decoration:none;
}

#comments .commentlist li p
{
	padding:0;
	margin:0 0 10px 0;
}

#comments .commentlist li .reply
{
	float:right;
	font-weight:bold;
}

#comments .commentlist li .reply a
{
	float:left;
	color:#666;
	background-color:#C8CEAA;
	margin:10px 0 0 0;
	padding:5px 8px;
	text-transform:uppercase;
	font-size:11px;
}

#comments .commentlist li.pingback .reply, #comments .commentlist li.trackback .reply
{
	display:none;
}

#comments .commentlist li ul.children
{
	float:left;
	clear:both;
	list-style:none;
	padding:0 0 0 20%;
	margin:0;
	width:80%;
	/*background:url(images/comment_reply.jpg) top left no-repeat;*/
}

#comments .commentlist li ul.children li
{
	clear:both;
	float:left;
	margin:20px 0 0 0;
	padding:0;
	width:100%;
}

#comments .commentlist li #respond
{
	margin:20px 0 0 0;
}

#comments .commentlist li:after, #comments .commentlist li div.comment-body:after, #comments .commentlist li ul.children li:after
{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}



#comments #respond
{
	clear:both;
	margin:0 0 30px 0;
	padding:20px 20px 0 20px;
	background:#F7F7F7;
	border:1px solid #eee;
}

#comments #respond .cancel-comment-reply
{
	float:left;
	margin:-10px 0 20px 0;
	text-transform:uppercase;
}

#comments #respond .cancel-comment-reply small a
{
	float:left;
}

#comments #respond .form
{
	clear:both;
	/*float:left;*/
	margin:0;
	padding:0;
}

#comments #respond .form p
{
	position:relative;
	float:left;
	width:100%;
	margin:0 0 20px 0;
	padding:0;
}

#comments #respond .form p label
{
	float:left;
	width:35%;
	margin-top:4px;
}

#comments #respond .form p label small
{
	margin-left:5px;
	font-size:10px;
}

#comments #respond .form .tf, #comments #respond .form textarea.tf
{
	float:right;
	width:60%;
	padding:7px;
	font-size:12px;
	color:#666;
	background:#eee;
	border-top:2px solid #ddd;
	border-bottom:none;
	border-right:none;
	border-left:none;
}

#comments #respond .form #submit
{
	float:right;
	padding:5px;
	border:none;
	background:#D14640;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
/* ////////////////////// Comments ////////////////////// */



/* ////////////////////// Commons ////////////////////// */
ul.list
{
	margin:0;
	padding:0;
	list-style:none;
}

ul.list li
{
	margin:0 0 5px 0;
	padding:0;
}

ul.list li.gap
{
	margin-bottom:15px;
}
/* ////////////////////// Commons ////////////////////// */



/* ////////////////////// Fixing Dear Mr Internet Explorer ////////////////////// */
.ie7 #comments { background:none; }
.ie7 #comments .commentlist li div.comment-body { display:inline-block; }
.ie7 #comments #respond, .opera #comments #respond
{
	padding-bottom:20px;
	margin-top:-20px;
	margin-bottom:30px;
}
.ie7 #creditsfix { height:82px; }
.ie7 #header { z-index:5; }
.ie7 #navigation { float:none; }
/* ////////////////////// Fixing Dear Mr Internet Explorer ////////////////////// */



/* ////////////////////// Hacks ////////////////////// */
.clearfix:after
{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}

.clearfix
{
	display:inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */
/* ////////////////////// Hacks ////////////////////// */

/* Drupal Specific Styles */
.site-name h1 a {
  
  font-size: 32px;
  text-transform: none;
  text-shadow: 1px 2px 2px #333333;
  color: #FFF;
}
.site-slogan, .links {
  clear: both;
}

.site-name {
  float: left;
  padding-top: 20px;
}

.site-slogan h2 {
  color: #FFF;
  text-transform: lowercase;
  padding-left: 20px;
  font-size: 1em;
}
#mission {
  margin-bottom: 10px;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Menu CSS */
/* Primary Menu
-------------------------------------------------------------- */
#primary-menu li.leaf, #primary-menu li.expanded {
  list-style-image: none;
  list-style-type: none;
}

/* Sidebar Menu */
#sidebar ul.menu li.leaf, #sidebar ul.menu li.expanded, #sidebar ul.menu li.collapsed {
  list-style-image: none;
  list-style-type: none;
}
#sidebar ul.menu li a {
clear: both;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: right;
    width: 100%;
}